body
{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background-color: #ffffff; 
}
nav
{
    font-size:  16px;
    font-weight: 500;
    line-height: calc(500/16px);
}
p
{
    font-size:  16px;
    font-weight: 400;
    line-height: calc(400/16px);
    color: #283136;
}
a
{
   text-transform: uppercase; 
   color: #000000;
}
h1
{
    font-size:  55px;
    font-weight: 500;
    line-height: calc(500/55px);
}
h2
{
    font-size:  45px;
    font-weight: 500;
    line-height: calc(500/45px);
}
h3
{
    font-size:   36px;
    font-weight: 700;
    line-height: calc(700/36px);
}
h4
{
    font-size:  24px;
    font-weight: 700;
    line-height: calc(700/24px);
}
h5
{
    font-size:  16px;
    font-weight: 700;
    line-height: calc(700/16px);
}
.btn
{
    font-size:  24px;
    font-weight: 700;
    line-height: calc(700/24px);
    color: ffffff;
    text-transform: uppercase; 
}